In [2]:
#imports
import pandas as pd
import os
from pathlib import Path

In [3]:
#read csv files for assist and turnover ratio
ftp2324 = pd.read_csv(
    "FTP/FTP CSVs/23-24 FTP.csv")

ftp2223 = pd.read_csv(
    "FTP/FTP CSVs/22-23 FTP.csv")

ftp2122 = pd.read_csv(
    "FTP/FTP CSVs/21-22 FTP.csv")

ftp2021 = pd.read_csv(
    "FTP/FTP CSVs/20-21 FTP.csv")

ftp1920 = pd.read_csv(
    "FTP/FTP CSVs/19-20 FTP.csv")

ftp1819 = pd.read_csv(
    "FTP/FTP CSVs/18-19 FTP.csv")

ftp1718 = pd.read_csv(
    "FTP/FTP CSVs/17-18 FTP.csv")

ftp1617 = pd.read_csv(
    "FTP/FTP CSVs/16-17 FTP.csv")

ftp1516 = pd.read_csv(
    "FTP/FTP CSVs/15-16 FTP.csv")

ftp1415 = pd.read_csv(
    "FTP/FTP CSVs/14-15 FTP.csv")

ftp1314 = pd.read_csv(
    "FTP/FTP CSVs/13-14 FTP.csv")

ftp1213 = pd.read_csv(
    "FTP/FTP CSVs/12-13 FTP.csv")

ftp1112 = pd.read_csv(
    "FTP/FTP CSVs/11-12 FTP.csv")

ftp1011 = pd.read_csv(
    "FTP/FTP CSVs/10-11 FTP.csv")

ftp0910 = pd.read_csv(
    "FTP/FTP CSVs/09-10 FTP.csv")

ftp0809 = pd.read_csv(
    "FTP/FTP CSVs/08-09 FTP.csv")

ftp0708 = pd.read_csv(
    "FTP/FTP CSVs/07-08 FTP.csv")

ftp0607 = pd.read_csv(
    "FTP/FTP CSVs/06-07 FTP.csv")

ftp0506 = pd.read_csv(
    "FTP/FTP CSVs/05-06 FTP.csv")

ftp0405 = pd.read_csv(
    "FTP/FTP CSVs/04-05 FTP.csv")

ftp0304 = pd.read_csv(
    "FTP/FTP CSVs/03-04 FTP.csv")

ftp0203 = pd.read_csv(
    "FTP/FTP CSVs/02-03 FTP.csv")

ftp0102 = pd.read_csv(
    "FTP/FTP CSVs/01-02 FTP.csv")

In [4]:
#read csv files for scoring offence
fgp2324 = pd.read_csv(
    "FGP/FGP  CSVs/23-24 FGP.csv")

fgp2223 = pd.read_csv(
    "FGP/FGP  CSVs/22-23 FGP.csv")

fgp2122 = pd.read_csv(
    "FGP/FGP  CSVs/21-22 FGP.csv")

fgp2021 = pd.read_csv(
    "FGP/FGP  CSVs/20-21 FGP.csv")

fgp1920 = pd.read_csv(
    "FGP/FGP  CSVs/19-20 FGP.csv")

fgp1819 = pd.read_csv(
    "FGP/FGP  CSVs/18-19 FGP.csv")

fgp1718 = pd.read_csv(
    "FGP/FGP  CSVs/17-18 FGP.csv")

fgp1617 = pd.read_csv(
    "FGP/FGP  CSVs/16-17 FGP.csv")

fgp1516 = pd.read_csv(
    "FGP/FGP  CSVs/15-16 FGP.csv")

fgp1415 = pd.read_csv(
    "FGP/FGP  CSVs/14-15 FGP.csv")

fgp1314 = pd.read_csv(
    "FGP/FGP  CSVs/13-14 FGP.csv")

fgp1213 = pd.read_csv(
    "FGP/FGP  CSVs/12-13 FGP.csv")

fgp1112 = pd.read_csv(
    "FGP/FGP  CSVs/11-12 FGP.csv")

fgp1011 = pd.read_csv(
    "FGP/FGP  CSVs/10-11 FGP.csv")

fgp0910 = pd.read_csv(
    "FGP/FGP  CSVs/09-10 FGP.csv")

fgp0809 = pd.read_csv(
    "FGP/FGP  CSVs/08-09 FGP.csv")

fgp0708 = pd.read_csv(
    "FGP/FGP  CSVs/07-08 FGP.csv")

fgp0607 = pd.read_csv(
    "FGP/FGP  CSVs/06-07 FGP.csv")

fgp0506 = pd.read_csv(
    "FGP/FGP  CSVs/05-06 FGP.csv")

fgp0405 = pd.read_csv(
    "FGP/FGP  CSVs/04-05 FGP.csv")

fgp0304 = pd.read_csv(
    "FGP/FGP  CSVs/03-04 FGP.csv")

fgp0203 = pd.read_csv(
    "FGP/FGP  CSVs/02-03 FGP.csv")

fgp0102 = pd.read_csv(
    "FGP/FGP  CSVs/01-02 FGP.csv")

In [5]:
directoryFTP = "/Users/jaxontige/Documents/Data Analytics Bootcamp/Projects/Project 4/Data/FTP/FTP CSVs"
all_FTP_dfs = []

# Loop through each file in the directory
for filename in os.listdir(directoryFTP):
    if filename.endswith('.csv'):  # Assuming all files are CSV files
        filepath = os.path.join(directoryFTP, filename)
        # Extract the four-digit code from the filename
        code = filename[:5]
        # Read CSV file and add a column for the code
        df = pd.read_csv(filepath)
        df['Years'] = code  # Add a new column for the code
        all_FTP_dfs.append(df)

        # combine all dfs into one 
combined_df_FTP = pd.concat(all_FTP_dfs, ignore_index=True)
combined_df_FTP['Years'] = combined_df_FTP['Years'].str.replace('-','')

# combined_df_atr.to_csv("combined_assist_and_turnover_ratio.csv")

In [6]:
directoryFGP = "/Users/jaxontige/Documents/Data Analytics Bootcamp/Projects/Project 4/Data/FGP/FGP  CSVs"
all_FGP_dfs = []

# Loop through each file in the directory
for filename in os.listdir(directoryFGP):
    if filename.endswith('.csv'):  # Assuming all files are CSV files
        filepath = os.path.join(directoryFGP, filename)
        # Extract the four-digit code from the filename
        code = filename[:5]
        # Read CSV file and add a column for the code
        df = pd.read_csv(filepath)
        df['Years'] = code  # Add a new column for the code
        all_FGP_dfs.append(df)

        # combine all dfs into one 
combined_df_FGP = pd.concat(all_FGP_dfs, ignore_index=True)
combined_df_FGP['Years'] = combined_df_FGP['Years'].str.replace('-','')



# combined_df_so.to_csv("combined_scoring_assist.csv")

In [7]:
combined_df_FTP

      Rank                          Team  GM    W-L   FT  FTA   FT% Years
0        1              Notre Dame (ACC)  36  26-10  489  611  80.0  1617
1        2           Central Mich. (MAC)  32  16-16  603  762  79.1  1617
2        3          Villanova (Big East)  36   32-4  538  681  79.0  1617
3        4         Oklahoma St. (Big 12)  33  20-13  620  786  78.9  1617
4        5                Mercer (SoCon)  32  15-17  449  574  78.2  1617
...    ...                           ...  ..    ...  ...  ...   ...   ...
1995   282            San Jose St. (WAC)  29   9-20  397  605  65.6  1213
1996   283  Coastal Carolina (Big South)  29  14-15  385  587  65.6  1213
1997   284          New Mexico St. (WAC)  35  24-11  554  845  65.6  1213
1998   285       Sam Houston (Southland)  34  17-17  464  708  65.5  1213
1999   286       Eastern Wash. (Big Sky)  31  10-21  380  580  65.5  1213

[2000 rows x 8 columns]

In [21]:
combined_df_FGP

      Rank                     Team  GM    W-L  FGM    FGA   FG% Years
0        1      Weber St. (Big Sky)  37   30-7  990  1,957  50.6  1213
1        2          Creighton (MVC)  36   28-8  942  1,882  50.1  1213
2        3            Gonzaga (WCC)  35   32-3  961  1,934  49.7  1213
3        4           NC State (ACC)  35  24-11  985  1,987  49.6  1213
4        5            Belmont (OVC)  33   26-7  906  1,844  49.1  1213
...    ...                      ...  ..    ...  ...    ...   ...   ...
7782   347        Rutgers (Big Ten)  32  15-17  750  1,927  38.9  2324
7783   348           N.C. A&T (CAA)  32   7-25  726  1,873  38.8  2324
7784   349  Mississippi Val. (SWAC)  31   1-30  613  1,611  38.1  2324
7785   350        Coppin St. (MEAC)  29   2-27  585  1,571  37.2  2324
7786   351       Alabama St. (SWAC)  32  13-19  772  2,087  37.0  2324

[7787 rows x 8 columns]

In [24]:
# df.to_csv("combined_assist_and_turnover_ratio.csv")
combined_df_FTP.to_csv("FTP 2000-2024.csv")
combined_df_FGP.to_csv("FGP 2000-2024.csv")